.weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 5px 0;
  line-height: 29px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.weather img {
  position: relative;
  top: -15px;
}

.weather .temperature {
  font-weight: bold;
  color: rgb (33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}
.unit {
  position: relative;
  top: -30px;
  color: rgb(57, 163, 250);
}
.units {
  color: rgb(57, 163, 250);
}
